.image {
  position: relative;
  float: left;
  width: 300px;
  top: 2000px;
  left: 300px;
}

.heading {
  position: fixed;
  text-align: center;
  border: 4px solid #FF00FF;
}

.first {
  position: relative;
  float: left;
  top: 200px;
  left: 40px;
  border: 4px solid rgb(0, 0, 0);
  font-size: 150%;
}

.second {
  position: relative;
  float: left;
  top: 200px;
  left: 100px;
  border: 4px solid rgb(0, 0, 0);
    font-size: 120%;
}